{% extends 'programmes/base.html' %}

{% load static %}
    
{% block welcome %}

<div class="row">
  <div class="col-xl-9 mx-auto">
    <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
  </div>

  <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
      {% csrf_token %}

    {% for search in searches %}

    <div id="div{{ search.recherche.id }}">

    <p>Recherche enregistrée le: {{ search.recherche.date_creation }}</p>

    <button class="btn btn-primary btn-delete" id="delete{{ search.recherche.id }}" data-object-id="{{ search.recherche.id }}" onclick="deleteFunction{{ search.recherche.id }}()">Supprimer cette recherche</button>

    <br />

    <div></div>

    <table class="table table-bordered table-striped table-condensed">

        <thead>
        <tr>
          <th>Nombre de résultat maximum</th>
          <th>{{ search.recherche.max_resultats }}</th>
        </tr>
        <tr>
          <th>Chaines</th>
          <th><div class="popup" onclick="myFunction{{ search.recherche.id }}()">Clickez pour voir les chaînes correspondantes
                <span class="popuptext" id="myPopup{{ search.recherche.id }}">{{ search.chaines_string }}</span>
              </div>
          </th>
        </tr>
        {% if search.recherche.recherche is not None %}
          <tr>
            <th>Recherche</th>
            <th>{{ search.recherche.recherche }}</th>
          </tr>
        {% endif %}
        {% if search.recherche_specifique is not None %}
          {% if search.recherche_specifique.titre is not None %}
          <tr>
            <th>Titre:</th>
            <th>{{ search.recherche_specifique.titre }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.titre_informatif is not None %}
          <tr>
            <th>Titre informatif</th>
            <th>{{ search.recherche_specifique.titre_informatif }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.description is not None %}
          <tr>
            <th>Description:</th>
            <th>{{ search.recherche_specifique.description }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.realisateur is not None %}
          <tr>
            <th>Realisateur:</th>
            <th>{{ search.recherche_specifique.realisateur }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.acteur is not None %}
          <tr>
            <th>Acteur:</th>
            <th>{{ search.recherche_specifique.acteur }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.role is not None %}
          <tr>
            <th>Rôle:</th>
            <th>{{ search.recherche_specifique.role }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.scenariste is not None %}
          <tr>
            <th>Scenariste:</th>
            <th>{{ search.recherche_specifique.scenariste }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.date_realisation is not None %}
          <tr>
            <th>Date de réalisation:</th>
            <th>{{ search.recherche_specifique.date_realisation }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.categories is not None %}
          <tr>
            <th>Categorie:</th>
            <th>{{ search.recherche_specifique.categories }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.serie is not None %}
          <tr>
            <th>Serie:</th>
            <th>{{ search.recherche_specifique.serie }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.episode is not None %}
          <tr>
            <th>Episode:</th>
            <th>{{ search.recherche_specifique.episode }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.partie is not None %}
          <tr>
            <th>Partie:</th>
            <th>{{ search.recherche_specifique.partie }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.pays_realisation is not None %}
          <tr>
            <th>Pays de réalisation:</th>
            <th>{{ search.recherche_specifique.pays_realisation }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.public is not None %}
          <tr>
            <th>Public:</th>
            <th>{{ search.recherche_specifique.public }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.aide_sourd is not None %}
          <tr>
            <th>Sous titres malentendants:</th>
            {% if search.recherche_specifique.aide_sourd %}
              <th>Oui</th>
            {% else %}
              <th>Non</th>
            {% endif %}
          </tr>
          {% endif %}
          {% if search.recherche_specifique.note is not None %}
          <tr>
            <th>Note:</th>
            <th>{{ search.recherche_specifique.note }}</th>
          </tr>
          {% endif %}
          {% if search.recherche_specifique.critique is not None %}
          <tr>
            <th>Critique:</th>
            <th>{{ search.recherche_specifique.critique }}</th>
          </tr>
          {% endif %}
          <tr>
            <th>Résultats pour les 7 prochains jours</th>
            <th>
              <a class="btn btn-primary" href="{% url 'my_results' my_search_id=search.recherche.id %}">Voir la programmation correspondante</a>
            </th>
          </tr>
        {% endif %}
      </thead>
    </table>
    </div>
    {% endfor %}
  </div>
</div>

{% for search in searches %}
  <script>
    function myFunction{{ search.recherche.id }}() {
      let popup = document.getElementById("myPopup{{ search.recherche.id }}");
      popup.classList.toggle("show");
    }
    function deleteFunction{{ search.recherche.id }}() {
          console.log("div{{ search.recherche.id }}");
          let bouton = document.getElementById("delete{{ search.recherche.id }}");
          // let object_id = $(this).attr('data-object-id');
          let object_id = bouton.getAttribute('data-object-id');
          let url = "/delete/"+ object_id;
          fetch(url, {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            'X-CSRFToken': "{{ csrf_token }}",
            },
          })
          .then(reponse => {
            let table = document.getElementById("div{{ search.recherche.id }}");
            $(table).fadeOut();
          })
          // $.ajax({
          //   url: url,
          //   data: {
          //       'csrfmiddlewaretoken': "{{ csrf_token }}"
          //   },
          //   timeout: 2000,
          //   type: "POST",
          //   dataType: "json",
          //   })
            // }).done(
            //   function(){alert("Deleted");}
            // ).fail(
            //   function(){alert("Error");}
            // );
          // let table = document.getElementById("div{{ search.recherche.id }}");
          // function unfade(table) {
          //     var op = 0.1;  // initial opacity
          //     table.style.display = 'block';
          //     var timer = setInterval(function () {
          //         if (op >= 1){
          //             clearInterval(timer);
          //         }
          //         table.style.opacity = op;
          //         table.style.filter = 'alpha(opacity=' + op * 100 + ")";
          //         op += op * 0.1;
          //     }, 10);
          // }
          // $(table).fadeOut();
        };
  </script>
{% endfor %}

{% endblock %}